body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 285px;
    background: url('../img/Rectangle_24.jpg') no-repeat center;
    background-size: inherit;
    color: white;
    margin-bottom: 30px;
}

section h1 {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: 0.2em;
}

form {
    display:flex;
    justify-content:center;
    gap:20px;
}

.description input {
    width: 466px;
    height: 60px;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.deadline input {
    width: 225px;
    height: 60px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.category select, .category option {
    width: 200px;
    height: 60px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
button {
    width: 225px;
    height: 60px;
    background: #9B51E0;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}

a:hover {
    background: rgba(199, 173, 219, 0.7);
}