@model TodoList.Models.TodoModel;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <title>Edit List</title>
        <link href="~/css/form.css" rel="stylesheet" />
    </head>
    <body>
        <section>
            <h1>To do list</h1>
           
        </section>
    </body>
</html>